
h1 {
    font-size: 55px;
    
}
body {
    margin: 0px;
    padding: 0;
    font-family: cursive, sans-serif; 
    overflow: scroll;
    font-size: 20px;
}

.nav {
    background-color: #5F490F;
    color: #ffffff;
    list-style: center;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: #ffffff
}

.nav > li > a:hover {
    color: #clclcl
}
img {
    width: Auto;
    max-width: 32%;
    height: 40%; 
    border-style: solid;
    border-width: 2px;
    text-align: center;
    float: right;
    
}
footer {
   left:500px;
   bottom:0px;
   height:100px;
   width:100%;

    
}
#DogAbuse{
     height: 100px;
    width: 630px;
    text-align: center;
    margin: auto;

}
